#cloud-config
disable_root: 0
users:
  - name: root
    ssh-authorized-keys: ### –> add a public SSH key 
      - ${file("~/.ssh/id_rsa.pub")}
ssh_pwauth: True
chpasswd: ### –> change the password
  list: |
     root:toor
  expire: False
  
  - name: archpider
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDRiQGbAUJ3ZrRgrZz7PlebT/vNy6QNC600ZNT1ojWJ/Uv8WDgk/4tB2jED6Btw6hi7+s23jPMbfADWOmItWCjQv5ikciqjAf8LedXaqQ4gF5Wc82DEjplZPFYUUm2PUS9cZ9dYrMraIOw61EkK7EWGJeZnpRtWhuM53MhcLrsgAouu9knuErDDC3/dlV37SmbjB21cwRnvQgN4JccDXfPv+OKTvnQJe/6rtyHhRadPCXMINmSHVxYhDxN0S3bJxVHareIOFvQzeNzULJA2im9IJ7sYJ3Rw3o7mev6ZlczI+t4pe3AADuShuqGQxhfNDxNNjqdo9OFsjM5/DF/n1v1b archpider@powerstation
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel